.grid {
	display: grid;
    margin-bottom: 50px;
}

.grid section {
	position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 366px;
}

.grid .slide {
    height: 366px;
}

.slide-preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.slider-line {
    position: relative;
    height: 366px;
    overflow: hidden;
}

.slider-line .current-slide {
    visibility: visible;
    z-index: 1;
    top: 0;
}

h2 {
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 9px 0;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: green;
}

.slide {
    position: absolute;
    z-index: 0;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.5s ease;
}

.slider-control {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 112px;
}

.feed {
    background: tomato url(../photo/startup-hero-bg.jpg) center / cover;
}